body {
    background: #F2F2F2;
    margin: 0;
    font-family: cursive;
}

.navbar {
    background: white;
    padding: 1em;
}

.logo {
text-decoration: none ;
font-weight: bold;
color: black;
font-size: 1.2em;
}

span {
color: #007AF3;

}

nav {
    display: none;
}

.container {
    display: flex;
    place-content: space-between;
}

.mobile-menu {
    cursor: pointer;
}

a {
    color: #444444;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section {
    padding: 5em 2em;
}

.hero {
    text-align: center;
}



.subhead {
    text-transform: capitalize;
    font-weight: bold;
    color: gray;
    letter-spacing: .3em;
}

h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: 2em;
}

.primary-cta {
    background: #007AF3;
    color: white;
    text-decoration: none;
    padding: 1.5em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
}

.hero-img {
    margin-top: 5em;
    width: 70%;
    margin-left: 2em;
}

.watch-video-cta {
    display: block;
    margin-top: 1em;
}

img {
    margin-right: 1em;
}

.features {
    background: #20272E;
    color: white;
}

ul.feature-list {
    position: relative;
    margin: 0em;
    padding: 1em;
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 2em;
}

ul.feature-list:before {
content: '';
content: '';
content: '';
content: '';

position: absolute;
left: -1em;
width: 20px;
height: 20px;
background-image: url('../images/bullet.svg');
background-image: url('../images/bullet.svg');
background-image: url('../images/bullet.svg');
background-image: url('../images/bullet.svg');

background-size: contain;
}
